html * {
    font-family: Inter, Helvetica Neue, Arial, PingFang TC, Microsoft JhengHei, sans-serif;
}
body {
    font-size: 100%;
    font-weight: 400;
    color: #4a4a4a;
    line-height: 1.6;
    scroll-behavior: smooth;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    width: 100%;
    height: 48px;
    padding-left: 24px;
    padding-right: 65px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fff;
    color: inherit;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input {
    line-height: normal;
}
input, textarea {
    width: 100%;
    padding: 14px 15px 15px;
    color: inherit;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 14px;
    background: #fff;
    -webkit-appearance: none;
}

label.control-label {
    font-size: 12px;
    line-height: 1.07142857;
    font-weight: 400;
    margin: 16px 0 0;
}
.main {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
.btn-link-primary {
    color: #00c795;
    cursor: pointer;
}
.btn-primary {
    box-shadow: none !important;
    width: 100%;
    padding: 8px 16px;
    background: #00c795;
    color: #fff !important;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}
.cs-btn {
    width: 100%;
    height: 50px;
    box-shadow: none !important;
    letter-spacing: 1.5px;
    font-size: 16px;
}
#shopify-section-header {
    top: 0px;
}
#shopify-section-header {
  position: sticky;
  z-index: 10;
  border-top: none;
}
.page__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background: #fff;
}
.cs3-header .container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
}
.cs3-header .container .mixx-header__logo {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.cs3-header .container .cs-header__feature .feature__item {
      margin: 0;
      display: flex;
      width: 54px;
      height: 54px;
      align-items: center;
      justify-content: center;
}
.cs3-header .container .cs-header__feature {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cs3-header .container .cs-header__feature .feature__item.shopping-cart .cart-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-icon-wrapper {
    position: relative;
    text-align: center;
}
.cs-header__feature {
    overflow: visible;
}
.header__wrapper {
    position: relative;
    table-layout: fixed;
    border-collapse: collapse;
    z-index: 1;
}

.cs3-header .container .mixx-header__logo i {
  color: #121314;
}
.cs3-header .container .cs-header__feature .feature__item.shopping-cart i {
    font-size: 50px;
}
a {
    transition: all .25s ease-in-out;
}
a {
    color: inherit;
    background-color: #0000;
    text-decoration: none;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'usfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-urbansocial:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e901";
}
.icon-avatar:before {
  content: "\e902";
}
.dropdown-menu li {
    overflow: hidden;
    position: relative;
}
.icon-checkmark:before {
  content: "\e903";
}

/* Account page  */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.cs-myAccountHeader {
    position: relative;
    background-color: #eaebeb;
    background-image: url(https://www.citiesocial.com/cdn/shop/files/Visual-2.png?3541039300956669622);
    background-repeat: no-repeat;
    background-position: right top;
    min-height: 250px;
}
.cs-myAccountHeader>.container {
    height: 200px;
    display: table;
    text-align: left;
    position: relative;
    margin: 0 auto;
}

.cs-myAccountHeader>.container .myAccountHeader-info {
    width: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.cs-myAccountHeader>.container .myAccountHeader-info h1 {
    text-align: left;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}
.cs-myAccountHeader>.container .myAccountHeader-info button {
    width: fit-content;
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    padding: 0 16px;
    border-radius: 8px;
    margin-top: 12px;
    color: #00000080;
    background-color: #fff9;
    border: unset;
}
.cs-myAccountHeader>.container .header-icon {
    height: 80px;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    padding: 0 12px;
}
.cs-myAccountHeader>.container .header-icon i {
    line-height: 80px;
    padding: 0;
    font-size: 40px;
    background: #fff;
    border-radius: 50%;
    color: #00c795;
}
.cs-myAccountHeader>.container .header-icon span {
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
}
.cs-myAccountHeader .cs-myAccountHeader-nav {
    height: 50px;
}
.cs-myAccountHeader-nav {
    background-color: #fff9;
    line-height: 50px;
    font-size: 15px;
}
.cs-myAccountHeader .cs-myAccountHeader-nav>.container {
    padding: 0;
}
.cs-myAccountHeader .cs-myAccountHeader-nav .cs-myAccountHeader-navTable {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    border-bottom: 2px solid #e6e6e6;
    scrollbar-width: none;
}
.account ul, .account li, .cs-myAccountHeader ul, .cs-myAccountHeader li {
    list-style: none;
    display: inline-block;
}
.cs-myAccountHeader-navTable {
    width: 100%;
}
.cs-myAccountHeader .cs-myAccountHeader-nav .cs-myAccountHeader-navTable .navTab:first-child {
    margin-left: 0;
}
.cs-myAccountHeader .cs-myAccountHeader-nav .cs-myAccountHeader-navTable .navTab {
    height: 50px;
    margin-left: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cs-myAccountHeader .cs-myAccountHeader-nav .cs-myAccountHeader-navTable .navTab a {
    height: 50px;
    padding: 0 16px;
    line-height: 50px;
}
.cs-myAccountHeader-navBtn {
    display: inline-block;
    color: #333;
    box-sizing: border-box;
    height: 50px;
}
.cs-myAccountHeader-navBtn.is-active {
    border-bottom: 3px solid #00c795;
    pointer-events: none;
    cursor: default;
}
.cs-myAccountHeader-navBtn:hover {
    cursor: pointer;
    color: #333;
    border-bottom: 3px solid #00c795;
    text-decoration: none;
    transition: none;
    -webkit-transition: none;
}
.cs-anchorPlaceHolder {
    display: block;
    height: 138px;
    margin-top: -138px;
    visibility: hidden;
}
.account .text {
    font-size: 14px;
    line-height: normal;
}
.cs-editCustomerForm .text {
    font-size: 16px;
    color: #646464;
    padding-bottom: 32px;
}
.cs-editCustomerForm {
    max-width: 650px;
    margin: 30px auto;
}
.cs-editCustomerForm {
    margin-bottom: 0;
}
.cs-editCustomerForm .status {
    display: inline-block;
    margin-left: 12px;
}
.cs-editCustomerForm .customer_phone .country_code {
    margin-right: 8px;
}
.cs-editCustomerForm .label {
    font-size: 12px;
    color: #b3b3b3;
    margin-bottom: 8px;
    background: #0000;
    padding: 0;
    font-weight: 400;
}
.cs-editCustomerForm .customer_id .copy_customer_id {
    margin-left: 12px;
    cursor: pointer;
}
 .u-whitespaceNoWrap {
    white-space: nowrap;
    font-size: 0;
}
.u-displayInlineBlock {
    display: inline-block;
}
.u-width50 {
    width: 50%;
}
.u-width5 {
    width: 5%;
}
.u-width45 {
    width: 45%;
}
.cs-editCustomerForm .gender {
    border: 0px;
    border-bottom: 1px solid #e6e6e6;
}
.cs-editCustomerForm .form-group .form-control, .cs-editCustomerForm .form-group select {
    margin-bottom: 32px;
    padding: 0;
}
.account-form-footer {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}
@media (min-width: 992px) {
    body.cs-body .container {
        width: 990px;
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (min-width: 768px) {
    .cs3-header {
        position: relative;
        height: auto;
        background-color: #fff;
        box-shadow: 0 20px 20px -20px #00000026;
        transition: height .1s;
        z-index: 1;
    }
    .cs3-header .container {
        position: static;
    }
    a.mixx-header__logo {
      text-decoration: none;
    }
    a.feature__item, a.shopping-cart{
      text-decoration: none;
    }
    
    .cs3-header .container .mixx-header__logo {
        position: relative;
        top: unset;
        left: unset;
        -ms-transform: unset;
        transform: unset;
        order: 1;
        width: 20%;
        height: 80px;
        justify-content: flex-start;
    }
    .cs3-header .container .cs-header__feature {
        order: 2;
        width: 20%;
        height: 80px;
    }
    .cs3-header .container .cs-header__feature .feature__item.member {
        display: flex;
    }
    .cs3-header .container .cs-header__feature .feature__item {
        width: 60px;
        height: 60px;
        margin-left: 8px;
    }
    .cs3-header .container .cs-header__feature #feature-item-member img {
      width: 32px;
    }
    .cs3-header .container .mixx-header__logo i {
        font-size: 22.6px;
    }
    .cs-myAccountHeader .cs-myAccountHeader-nav .cs-myAccountHeader-navTable .navTab a {
        padding: 0 36px;
    }
}
@media only screen and (min-width: 768px) {
    .cs-header__feature .dropdown .dropdown-menu {
        top: 90%;
        min-width: 140px;
        left: -32px;
        border-radius: 6px;
        box-shadow: 0 0 30px #00000026;
    }
    .cs-header__feature .dropdown .dropdown-menu-login {
        max-width: 170px !important;
        left: -45px !important;
    }
    .cs-header__feature .dropdown:hover .dropdown-menu {
        display: block;
    }
    .cs-header__feature .dropdown .dropdown-menu-hr {
        width: 170px;
        height: 1px;
        flex-grow: 0;
        margin: 9px 0 7px;
        background-color: #e7e7e7;
    }
    .cs-header__feature .dropdown .dropdown-menu-text-personalize .new-label {
        margin: 0 0 0 4px;
        font-size: 10px;
        line-height: 18px;
        padding: 0 4px;
        border-radius: 3px;
        background-color: #ed5c56;
        color: #fff;
    }
    .cs-header__feature .dropdown .dropdown-menu-text-login {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        min-height: 50px;
    }
    .cs-header__feature .dropdown .dropdown-menu-text-personalize {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        min-height: 50px;
        flex-direction: row;
    }
    .dropdown-menu>li>a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        transition: color 0.3s ease, background-color 0.3s ease;
        text-decoration: none;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
}
@media screen and (min-width: 801px) {
    .inner, .container {
        padding: 0;
    }
}
@media (min-width: 1200px) {
    body.cs-body .container {
        width: 1200px;
    }
}


