body {
    font-size: 100%;
    font-weight: 400;
    color: #4a4a4a;
    line-height: 1.6;
    scroll-behavior: smooth;
}
#shopify-section-header {
    top: 0px;
}
#shopify-section-header {
  position: sticky;
  z-index: 10;
  border-top: none;
}
.page__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    background: #fff;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.cs3-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
}
.cs3-header .container .mixx-header__logo {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.cs3-header .container .cs-header__feature .feature__item {
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
}
.cs3-header .container .cs-header__feature {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.cs3-header .container .cs-header__feature .feature__item.shopping-cart .cart-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-icon-wrapper {
    position: relative;
    text-align: center;
}
.cs-header__feature {
    overflow: visible;
}
.header__wrapper {
    position: relative;
    table-layout: fixed;
    border-collapse: collapse;
    z-index: 1;
}

.cs3-header .container .mixx-header__logo i {
  color: #121314;
}
.cs3-header .container .cs-header__feature .feature__item.shopping-cart i {
    font-size: 24px;
}
i.icon-cart {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
i.icon-us-font {
  font-family: 'usfont' !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-us-font:before {
  content: "\e900";
}
.icon-cart:before {
  content: "\e900";
}
.dropdown-menu li {
    overflow: hidden;
    position: relative;
}
@media (min-width: 1200px) {
    body.cs-body .container {
        width: 1200px;
    }
}
@media (min-width: 992px) {
    body.cs-body .container {
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (min-width: 768px) {
    .cs3-header {
        position: relative;
        height: auto;
        background-color: #fff;
        box-shadow: 0 20px 20px -20px #00000026;
        transition: height .1s;
        z-index: 1;
    }
    .cs3-header .container {
        position: static;
    }
    a.mixx-header__logo {
      text-decoration: none;
    }
    a.feature__item, a.shopping-cart{
      text-decoration: none;
    }
    
    .cs3-header .container .mixx-header__logo {
        position: relative;
        top: unset;
        left: unset;
        -ms-transform: unset;
        transform: unset;
        order: 1;
        width: 20%;
        height: 80px;
        justify-content: flex-start;
    }
    .cs3-header .container .cs-header__feature {
        order: 2;
        width: 20%;
        height: 80px;
    }
    .cs3-header .container .cs-header__feature .feature__item.member {
        display: flex;
    }
    .cs3-header .container .cs-header__feature .feature__item {
        width: 60px;
        height: 60px;
        margin-left: 8px;
    }
    .cs3-header .container .cs-header__feature #feature-item-member img {
      width: 32px;
    }
    .cs3-header .container .mixx-header__logo i {
        font-size: 22.6px;
    }
}
@media only screen and (min-width: 768px) {
    .cs-header__feature .dropdown .dropdown-menu {
        top: 90%;
        min-width: 140px;
        left: -32px;
        border-radius: 6px;
        box-shadow: 0 0 30px #00000026;
    }
    .cs-header__feature .dropdown .dropdown-menu-login {
        max-width: 170px !important;
        left: -45px !important;
    }
    .cs-header__feature .dropdown:hover .dropdown-menu {
        display: block;
    }
    .cs-header__feature .dropdown .dropdown-menu-hr {
        width: 170px;
        height: 1px;
        flex-grow: 0;
        margin: 9px 0 7px;
        background-color: #e7e7e7;
    }
    .cs-header__feature .dropdown .dropdown-menu-text-personalize .new-label {
        margin: 0 0 0 4px;
        font-size: 10px;
        line-height: 18px;
        padding: 0 4px;
        border-radius: 3px;
        background-color: #ed5c56;
        color: #fff;
    }
    .cs-header__feature .dropdown .dropdown-menu-text-login {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        min-height: 50px;
    }
    .cs-header__feature .dropdown .dropdown-menu-text-personalize {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        min-height: 50px;
        flex-direction: row;
    }
    .dropdown-menu>li>a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        transition: color 0.3s ease, background-color 0.3s ease;
        text-decoration: none;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
}


